.k-copymanga {
  .next-part-btn {
    height: 150px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
  }
  .next-part-btn-fixed {
    position: fixed;
    font-size: 16px;
    background: white;
    padding: 8px;
    writing-mode: vertical-lr;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.2) -1px 1px 10px 0px;
    transition: all 0.2s ease;
    transform: translateX(0);
    border-radius: 4px;
    opacity: 1;
    box-sizing: border-box;

    &.left {
      border-radius: 0 4px 4px 0;
      --transform-x: -100%;
    }
    &.right {
      border-radius: 4px 0 0 4px;
      --transform-x: 100%;
    }
    &.hide {
      opacity: 0;
      pointer-events: none;
      transform: translateX(var(--transform-x));
    }
  }

  .comicContentPopup .comicContentPopupImageList {
    .comicContentPopupImageItem img {
      display: block;
      float: none;
    }
    > li[style] {
      [role='alert'],
      [role='alert'] + button {
        display: none;
      }
    }
  }
}
