.k-copymanga {
  .k-actions {
    position: fixed;
    font-size: 16px;
    transition: all 0.2s ease;
    transform: translateX(0);
    border-radius: 4px;
    opacity: 1;
    box-sizing: border-box;

    box-shadow: rgba(0, 0, 0, 0.2) -1px 1px 10px 0px;
    border-radius: 4px;
    background: white;

    .k-icon {
      padding: 8px;
      svg {
        display: block;
        fill: currentColor;
      }
    }
    .k-icon.active {
      background: rgb(44, 174, 254);
      color: white;
    }
    .k-icon + .k-icon {
      border-top: 1px solid #eee;
    }

    &.left {
      border-radius: 0 4px 4px 0;
      --transform-x: -100%;
    }
    &.right {
      border-radius: 4px 0 0 4px;
      --transform-x: 100%;
    }
    &.hide {
      opacity: 0;
      pointer-events: none;
      transform: translateX(var(--transform-x));
    }
  }

  .merge-active {
    opacity: 0.5;
    border: 1px solid red;
  }
  .comicContentPopup .comicContentPopupImageList {
    .comicContentPopupImageItem img {
      display: block;
      float: none;
    }
    > li[style] {
      [role='alert'],
      [role='alert'] + button {
        display: none;
      }
    }
  }
  .comicContentPopup .comicFixed.loading {
    width: auto;
    min-width: 1.4rem;
    padding: 0 1em;

    &::before {
      content: 'Loading...';
      padding-right: 1em;
    }
  }
}
