// ==UserScript==
// @name         {{name}}
// @namespace    https://github.com/IronKinoko/userscripts/tree/master/packages/{{name}}
// @version      #version#
// @license      MIT
// @description  #description#
// @author       IronKinoko
// @match        
// @icon         https://www.google.com/s2/favicons?domain=
// @grant        none
// @noframes
// @require      https://unpkg.com/jquery@3.6.1/dist/jquery.min.js
// @downloadURL  https://github.com/IronKinoko/userscripts/raw/dist/{{name}}.user.js
// @updateURL    https://github.com/IronKinoko/userscripts/raw/dist/{{name}}.user.js
// ==/UserScript==