.k-custom-btn.k-custom-btn {
  text-indent: 0;
  background: #b5b5b5;
  color: white;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  &:hover {
    background: #c00f20;
  }
}
.backToTop {
  height: auto !important;
}
.tbCenter {
  border: none !important;
  background: none !important;
}
[data-tag='mangaFile'] {
  width: 980px !important;
}

.big-h5-btn {
  width: calc(100% - 72px);
  display: block;
  height: 100px;
  background-color: #c00f20;
  color: white;
  font-size: 36px;
  margin: 36px auto;
  outline: 0;
  border: #c00f20;
}
