#speech {
  user-select: none;
  .speech-handler {
    position: absolute;
    right: 24px;
    bottom: 100%;
    padding: 4px 8px;
    background: #222;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    svg {
      transform: rotate(180deg);
      transition: trasnform 0.3s ease;
    }
  }
  .speech-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #222;
    color: #fff;
    z-index: 99999999;
    line-height: 1;
    svg {
      display: block;
    }
  }

  .speech-controls-show {
    transform: translateY(0%);
    .speech-handler svg {
      transform: rotate(0);
    }
  }

  .speech-controls-voice {
    flex: 1;
    min-width: 0;
  }
  .speech-checkbox {
    padding: 8px;
    margin: 0;
    background: #333;
    border-radius: 8px;
    cursor: pointer;

    &:not(.speech-checkbox-icon-switch) input:checked ~ * {
      color: #349bdb;
    }

    &.speech-checkbox-icon-switch {
      input:checked + * {
        display: none;
      }
      input:not(:checked) + * + * {
        display: none;
      }
    }
  }

  .speech-select {
    text-align: center;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
    cursor: pointer;

    padding: 8px;
    margin: 0;
    background: #333;
    border-radius: 8px;
  }
  .speech-select option {
    color: initial; // 使用默认颜色
  }
}
.speech-reading {
  text-decoration: underline !important;
  text-underline-offset: 0.4em !important;
  text-decoration-style: dashed !important;
}
