html[lang='zh-CN'] {
  .widget-episodeBody {
    font {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    }
  }
}

ruby rt {
  -webkit-user-select: none;
  user-select: none;
}

.ruby-hidden {
  ruby rt {
    display: none;
  }
}
